@import url(https://dl.dafont.style/25/20/sweet-kiss.zip);
*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
:root{
    --primary-color : #ededed;
}
html{
    scroll-behavior: smooth;
}
nav{
    padding-top: 7px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    img{
        height: 15px;
    }
    a{
        text-decoration: none;
        font-size: smaller;
        color: rgba(0, 0, 0, 0.815);
    }
}
header{
    height: 125px;
    width: 100%;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    a{
    text-decoration: none;
    }
}
.primary-link{
    text-align: center;
    color: rgba(0, 0, 0, 0.774);
    font-size: 0.7rem;
    animation: dragright 0.3s forwards linear;
}
@keyframes dragright{
    from{
        position: relative;
        left: 100px;
        opacity: 0;
    }
    to{
        position: relative;
        left: 0px;
        opacity: 1;
    }
}
.para1{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    background-color: rgba(211, 211, 211, 0.233);
    font-weight: lighter;
    animation: paradrag 1s forwards ease-in-out;
    a{
        text-decoration: none;
    }
}
@keyframes paradrag{
    from{
        position: relative;
        bottom: 20px;
        opacity: 0;
    }
    to{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
}
.banner1{
    height: 240px;
    width: 100%;
    
    display: flex;
}
.banner1>.text1{
        font-size: 72px;
        position: relative;
        top: 85px;
        left: 6%;
        animation: dragtex 1s ease-in-out forwards;
    }
    @keyframes dragtex{
        from{
            margin-top: 20px;
            opacity: 0;
        }
        to{
            margin-top: 0px;
            opacity: 1;
        }
    }
    .banner1>.text2{
        font-size: 1.6rem;
        position: relative;
        top: 140px;
        left: 55%;
        animation: dragtext2 1s ease-in-out forwards ;
    }
    @keyframes dragtext2{
        from{
            margin-top: 20px;
            opacity: 0;
        }
        to{
            margin-top: 0px;
            opacity: 1;
        }
    }
    .videos{
        height: 120vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: dragvid 1s ease-in-out forwards ;
    }
    .videos>video{
        height: 100%;
        width: 95%;
        object-fit: cover;
        border-radius: 20px;
    }
    .banner2{
        height: 280px;
        width: 100%;
        animation: dragtext2 1s ease-in-out forwards ;
    }
    .banner2>.text11{
        font-size: 50px;
        position: relative;
        top: 55%;
        left: 5%;
    }
    @keyframes dragvid{
        from{
            position: relative;
            top: 20%;
            opacity: 0;
        }
        to{
            position: relative;
            top: 0%;
            opacity: 1;
        }
    }
    .container{
        height: 120vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 30px;
    }
    .container>div{
        width: 31%;
        height: 100%;
        display: flex;
        position: relative;
    }
    .container>div:hover{
        transition: all 0.3s ease-in-out;
        height: 102%;
        width: 32%;
    }
    .container>div>img{
        height: 100%;
        width: 100%;
        border-radius: 30px;
    }
    .container>div>p{
            top: 80%;
            font-size: 18px;
            font-weight: bold;
        }
        .container > div > h1 {
    font-size: 24px;
}